# Solidworks simulation file types
*.CWR
*.DSP
*.ELF
*.GEN
*.gsz
*.IDA
*.LCD
*.LDS
*.LOG
*.MAS
*.MFC
*.OUT
*.STE
*.STG

# Common 3D file types - MAY CHOOSE TO CHANGE AND ADD STEP FILES TO GIT, ONCE THE PROJECT IS FINISHED OR AT A SIGNIFICANT MILESTONE
*.step
*.stp
*.iges
*.igs
*.stl
*.obj
*.3mf

# G-code file types
*.gcode.3mf
*.gcode

# Solidworks ownership lock and recovery pointers
~$*.sld*
~$*.sd*

# Microsoft Office Temporary & Lock Files
~$*.doc*
~$*.dot*
~$*.xls*
~$*.xlsx*
~$*.ppt*
~$*.vsd*
*.~vsd*

# Office Backup & Auto-Save Files
*.tmp
*.xlk
Backup of *.doc*